body {
  font-family: "Montserrat", sans-serif; /* копируес с google (CSS rules to specify families) */
  background-color: #e5e5e5;
  box-sizing: border-box;
  padding: 40px;
}

/* Общий, не принадлежит ни к какому контейнеру */
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* margin-right: 40px; */
  background: #fff;
  max-width: 100vw; /* ширина страницы ограничена */
  margin: 0 auto; /*центрирование всего док. на экране - 1 из способов */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* тень станицы как в макете */
}

/* Main content */
.main-content {
  padding-top: 88px;
  padding-bottom: 88px;
  padding-left: 88px;
  padding-right: 88px;
  /* Это тоже самое, что написать: padding 88px 88px 88px 88px */
  /* если ои все одинаковые, то просто padding 88px (по час.стрелке) */
  max-width: 100%; /*Щоб прибрати білий відступ зліва - додайте цю властивість
  /* Це буває через те, що ми обмежили ширину блока about me 😊 
  А ширина 100% якраз говорить про те, що мейн-контент має зайняти всю ширину, 
  яка залишилася від 1200, тобто 1200 - 370 = ширина мейн-контент 😊 */
}

/* About me */
.my_profession {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  margin: 0 0 20px 0; /* обнуляем стили под те, что скопировали с бланка; нижний отступ кратный 4 = 20px */
}

.my_name {
  color: #000;
  font-size: 2.81rem;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 28px 0; /* для h-тегов нужно обнулять отступы, поэтому использ.margin 0 (или padding) и 28px вниз, как в макете */
}

/* 
h2 {
  font-size: 35px;
}
.project-item {
  background-color: yellow;   - желтое выделение линии текста
}
Когда уже прописали классы, это стало не нужным 
*/

.my_description {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-right: 120px;
  max-width: 100%; /* ограничиваем по ширине текст, как в макете */
}

.about_me-container {
  margin-bottom: 64px;
}

/* PROJECTS */
.main_content-title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin: 0 0 8px 0; /* обнуляем отступы */
}

.project-item {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

/* блок с точками перечня работ */
.project-list {
  padding: 0 0 0 18px;
  margin: 0;
}

.projects-container {
  margin-bottom: 48px;
}

.project_item-descript {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.project_item-link {
  color: #005fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  margin-left: 12px;
}

/* Work Experience */
.work_experience-container {
  max-width: 525px; /* ограничиваем по ширине текст, как в макете */
  margin-bottom: 44px;
}

.work_experience-position {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0; /* не забываем !!! обнулять отступы */
}

.work_experiense-distance {
  margin: 16px 0 16px 0;
}

.work_exp-company {
  color: #6d9bf5;
  /* компании, где работал, выделены синим цветом */
}

.work-period {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin: 12px 0 8px 0;
}

.work-period-breaking-line {
  color: #000000;
  margin: 0 8px 0 8px;
  /* "|" чёрная разделительная черта между датами */
}

.work-duties {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.work_duties-list {
  padding: 0 0 0 18px;
  margin: 0;
}

.education {
  color: #6d9bf5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 12px 0 12px 0;
}

.education-input {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 12px 0 12px 0;
}

/* SIDEBAR */
.sidebar {
  width: 370px;
  background: #e0ebfe;
}

.my_photo {
  margin-top: 40px;
  width: 370px; /* ограничиваем по ширине фото, как в сайдбаре */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.55); /* тень фото */
}

.contacts-container,
.tech_skills-container,
.soft_skills-container {
  margin: 40px 0 0 40px; /* это = margin-left и по час.стрелке */
}

.sidebar-title {
  color: #161d2a;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

/* Contacts block */
.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contacts-email {
  color: #2979ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.skills-list {
  margin: 0;
  padding: 0 0 0 20px;
}

/* Точки перечня пунктов */
.skills-list-item {
  color: #6d9bf5;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

/* Текст перечня пунктов */
.skills-list-text {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* АДАПТАЦИЯ под разные экраны (инструмент media query) */

@media screen and (max-width: 1270px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1176px) {
  .main-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .my_photo {
    max-width: 275px;
  }
}

@media screen and (max-width: 982px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .sidebar {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .sidebar-content {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .skill-row-zoom {
    display: flex;
    padding-right: 20px;
  }
}

@media screen and (max-width: 708px) {
  body {
    padding: 0;
  }
}

@media screen and (max-width: 648px) {
  .sidebar {
    flex-direction: column;
    align-items: center;
  }
  .my_photo {
    margin-bottom: 20px;
    margin-left: 1%;
    max-width: 80%;
  }
  .sidebar-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .my_description {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    padding-left: 16;
    padding-right: 16;
  }
}

@media screen and (max-width: 406px) {
  .skill-row-zoom {
    flex-direction: column;
    padding-right: 0;
  }
  .my_name {
    font-size: 36px;
  }
}
